Dataset

The dataset I chose is the affairs dataset that comes with Statsmodels. It
was derived from a survey of women in 1974 by Redbook magazine, in
which married women were asked about their participation in extramarital
affairs. More information about the study is available in a 1978 paper from
the Journal of Political Economy.

Description of Variables

The dataset contains 6366 observations of 9 variables:
     
   rate_marriage: woman's rating of her marriage (1 = very poor, 5 =
   very good)
   age: woman's age
   yrs_married: number of years married
  children: number of children
  religious: woman's rating of how religious she is (1 = not religious, 4     =strongly religious)
   educ: level of education (9 = grade school, 12 = high school, 14 =
  some college, 16 = college graduate, 17 = some graduate school, 20
  = advanced degree)

occupation: woman's occupation (1 = student, 2 = farming/semi-
skilled/unskilled, 3 = "white collar", 4 =     teacher/nurse/writer/technician/skilled, 5 = managerial/business, 6 =
professional with advanced degree)
occupation_husb: husband's occupation (same coding as above)
affairs: time spent in extra-marital affairs




Code to loading data and modules:

import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model
import LogisticRegression from
sklearn.cross_validation
import train_test_split from sklearn
import metrics from
sklearn.cross_validation
import cross_val_score dta =
sm.datasets.fair.load_pandas().data

#add "affair" column: 1 represents having affairs, 0
represents not dta['affair'] = (dta.affairs >
0).astype(int)
y, X = dmatrices('affair ~ rate_marriage + age +
yrs_married + children + \ religious + educ +
C(occupation) + C(occupation_husb)',
dta, return_type="dataframe")
X = X.rename(columns =
{'C(occupation)[T.2.0]':'occ_2',

'C(occupation)[T.3.0]':'occ_3',
'C(occupation)[T.4.0]':'occ_4',
'C(occupation)[T.5.0]':'occ_5',
'C(occupation)[T.6.0]':'occ_6',
'C(occupation_husb)[T.2.0]':'occ_husb_2',
'C(occupation_husb)[T.3.0]':'occ_husb_3',
'C(occupation_husb)[T.4.0]':'occ_husb_4',
'C(occupation_husb)[T.5.0]':'occ_husb_5',
'C(occupation_husb)[T.6.0]':'occ_husb_6'})

y = np.ravel(y)

Task: Deploy this assignment in any cloud platform.(Try to look for free cloud platform)

Assignment: Submit assignmentâ€™s deployable link only.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
data = pd.read_csv('affairs.csv')

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.head()

,Unnamed: 0,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

In [6]:
data = data.iloc[:,1:] #cropping first column

In [7]:
data.head()

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6366 entries, 0 to 6365
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rate_marriage    6366 non-null   float64
 1   age              6366 non-null   float64
 2   yrs_married      6366 non-null   float64
 3   children         6366 non-null   float64
 4   religious        6366 non-null   float64
 5   educ             6366 non-null   float64
 6   occupation       6366 non-null   float64
 7   occupation_husb  6366 non-null   float64
 8   affairs          6366 non-null   float64
dtypes: float64(9)
memory usage: 447.7 KB

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6366 entries, 0 to 6365
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rate_marriage    6366 non-null   float64
 1   age              6366 non-null   float64
 2   yrs_married      6366 non-null   float64
 3   children         6366 non-null   float64
 4   religious        6366 non-null   float64
 5   educ             6366 non-null   float64
 6   occupation       6366 non-null   float64
 7   occupation_husb  6366 non-null   float64
 8   affairs          6366 non-null   float64
dtypes: float64(9)
memory usage: 447.7 KB

In [14]:
(data.affairs > 0).astype(int)  # converting into binary features
data.affairs.unique()
# data.affairs

array([1.11111100e-01, 3.23076920e+00, 1.39999960e+00, 7.27272700e-01,
       4.66666600e+00, 8.52173500e-01, 1.82608600e+00, 4.79999920e+00,
       1.33333300e+00, 3.26666450e+00, 2.04166600e+00, 4.84848400e-01,
       2.00000000e+00, 1.36111070e+00, 7.83999630e+00, 2.54545400e+00,
       5.32608700e-01, 6.22222200e-01, 5.83333300e-01, 1.66666600e-01,
       6.15384600e-01, 1.18787770e+00, 1.11999989e+01, 2.17777630e+00,
       7.00000000e+00, 5.21739100e-01, 2.12121200e-01, 4.00000000e-01,
       3.19999980e+00, 1.50769140e+00, 4.89999960e+00, 4.34783000e-02,
       7.69231000e-02, 2.92173860e+00, 2.68799896e+01, 6.06061000e-02,
       8.88888800e-01, 1.52173900e-01, 9.42307700e-01, 3.88888800e-01,
       5.16923050e+00, 1.69696900e+00, 2.71515080e+00, 1.11999998e+01,
       7.46666720e+00, 4.97777750e+00, 2.69230700e-01, 7.42424200e-01,
       4.17391300e+00, 3.44615360e+00, 9.23076900e-01, 3.11111070e+00,
       3.47826100e-01, 2.55999908e+01, 2.15384580e+00, 1.94782540e+00,
       1.60000000e+01, 1.21739100e+00, 5.81818100e+00, 1.67999878e+01,
       1.79199982e+01, 7.46666620e+00, 3.83999939e+01, 4.07272620e+00,
       8.72727200e+00, 5.75999908e+01, 2.40000000e+01, 2.78260800e+00,
       2.45000000e+01, 3.39393900e-01, 6.26086900e+00, 2.43478200e-01,
       3.87878700e+00, 7.11111070e+00, 3.91999817e+01, 4.92307660e+00,
       0.00000000e+00])

In [15]:
data.affairs = (data.affairs > 0).astype(int)

In [16]:
X = data.iloc[:,0:-1]
y = data.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=34)

In [17]:
# LogisticRegression
clf = LogisticRegression(random_state=0)
clf.fit(X_train, y_train)
# Prediction
y_pred = clf.predict(X_test)

acc = accuracy_score(y_test, y_pred)
print("Logistic Regression model accuracy (in %):", acc*100)

Logistic Regression model accuracy (in %): 72.29890528319848